body, html {
    height: 100%;
  }
.profile
{
    text-align-last: center;
    font-size: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.button
{
    margin: 8px;
    justify-content: center;
    align-items: center;
    display: inline;
    font-size: 16px;
    border-radius: 10px;
    border:none;
    outline: none;
}
.main,.mainFrame
{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 86vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgb(119, 206, 233), rgb(70, 81, 233));
}
.mainFrame
{
    height: 100vh;
}
.session
{
    padding: 60px;
    background-color: white;

}
.navbar {
    position: relative;
    min-height: 7vh;
    padding:0 !important;
    margin-bottom: 0 !important;
}
 .Menu,.exercise-task
{
   padding-top: 0.2%;
    padding-left: 0;
}
.EggCount
{
    margin:0;
}
.logout
{
    margin-right: 0%;
}


.exercise-task{
    display: none;
}

.menu
{
    justify-content: center;
    align-items: center;
    display: grid;
}
.yes,.no{

    padding: 5px;
    margin: 5px;
}
